<div class="col-md-10 col-md-offset-1">
  <div class="page-title">
    Fish
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-tabs tab-header" role="tablist">
        <li role="presentation" class="active">
          <%= link_to "Thuy Sinh", "#thuy_sinh", data: {toggle: "tab"} %>
        </li>
        <li role="presentation" class="">
          <%= link_to "Bio Top", "#bio_top", data: {toggle: "tab"} %>
        </li>
        <li role="presentation" class="">
          <%= link_to "Than Tien", "#than_tien", data: {toggle: "tab"} %>
        </li>
        <li role="presentation" class="">
          <%= link_to "Dia", "#dia", data: {toggle: "tab"} %>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="thuy_sinh">
          thuy sinh
        </div>
        <div role="tabpanel" class="tab-pane" id="bio_top">
          bio top
        </div>
        <div role="tabpanel" class="tab-pane" id="than_tien">
          than tien
        </div>
        <div role="tabpanel" class="tab-pane" id="dia">
          dia
        </div>
      </div>
    </div>
  </div>
</div>
