<div class="col-md-3" style="margin-bottom: 10px">
  <div class="product">
    <div class="image-product">
      <%= image_tag "ca1.jpg", class: "col-centered" %>
    </div>
    <div class="text-center">
      <a><strong>Neon Vua</strong></a><br>
      detail image-product
      image-product
      image-product
      image-product
    </div>
  </div>
</div>
