<div class="col-6 col-lg-3 product-list">
  <a href="/products/hansen-inc-61/" class="link--clean">
    <div class="text-center">
      <div>
        <%= image_tag "ca1.jpg", class: "img-responsive" %>
        <span class="product-list-item-name" title="Hansen Inc">Hansen Inc</span>
      </div>
      <div class="panel-footer">
        <span>
            <span>
                from <span class="currency">$</span>17.53
            </span>
        </span>
      </div>
    </div>
  </a>
</div>
