<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= render "layouts/footer/iframe" %>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="row">
        <a target="_blank" rel="noopener" class="github-footer" href="https://github.com/mirumee/saleor">
          <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 45 43" role="img" aria-labelledby=" " data-src="https://saleor-demo.s3.amazonaws.com/images/github_logo.svg" class="injected-svg">
            <path fill="#ffffff" d="M 22.4943 -7.16688e-09C 10.0725 -7.16688e-09 7.85499e-09 9.87083 7.85499e-09 22.044C 7.85499e-09 31.7835 6.44383 40.0444 15.3848 42.9636C 16.5095 43.1662 16.9185 42.4827 16.9185 41.8993C 16.9185 41.376 16.9003 39.9888 16.8889 38.1473C 10.6337 39.4789 9.31356 35.1925 9.31356 35.1925C 8.28882 32.6452 6.81419 31.9683 6.81419 31.9683C 4.77152 30.6011 6.97097 30.6256 6.97097 30.6256C 9.22949 30.7837 10.4156 32.8991 10.4156 32.8991C 12.4219 36.268 15.6824 35.2927 16.9639 34.7316C 17.1661 33.3043 17.7501 32.3335 18.3908 31.7813C 13.3943 31.2268 8.1434 29.3364 8.1434 20.8884C 8.1434 18.4814 9.02045 16.5152 10.4587 14.9721C 10.2292 14.4155 9.45443 12.1732 10.6791 9.13826C 10.6791 9.13826 12.5696 8.54374 16.8685 11.4006C 18.6612 10.9107 20.5857 10.6635 22.5011 10.6568C 24.4097 10.6635 26.3365 10.9107 28.1338 11.4006C 32.4282 8.54596 34.3118 9.13826 34.3118 9.13826C 35.5365 12.1732 34.7685 14.4155 34.539 14.9721C 35.9818 16.513 36.8498 18.4814 36.8498 20.8884C 36.8498 29.3609 31.5897 31.2202 26.5774 31.7657C 27.3885 32.447 28.1088 33.792 28.1088 35.8494C 28.1088 38.7953 28.0793 41.1734 28.0793 41.897C 28.0793 42.4871 28.486 43.1729 29.6266 42.9592C 38.5584 40.0378 45 31.779 45 22.0418C 44.9909 9.86861 34.9162 -7.16688e-09 22.4943 -7.16688e-09Z" role="presentation"></path>
          </svg>
        </a>
        <a target="_blank" rel="noopener" href="https://twitter.com/getsaleor">
          <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 43 43" role="img" aria-labelledby=" " data-src="https://saleor-demo.s3.amazonaws.com/images/twitter_logo.svg" class="injected-svg"><path fill="#ffffff" id="path0_fill" d="M 21.5011 9.42327e-09C 9.62631 9.42327e-09 9.42327e-09 9.62631 9.42327e-09 21.5011C 9.42327e-09 33.3737 9.62631 43 21.5011 43C 33.3737 43 43 33.3737 43 21.5011C 43 9.62631 33.3737 9.42327e-09 21.5011 9.42327e-09ZM 33.534 18.5587L 33.4615 19.279C 32.5064 26.6261 25.8202 34.3706 15.5922 33.0465C 12.4523 32.6381 9.65046 31.336 7.39539 29.4388C 7.82357 29.5421 8.26492 29.6277 8.71286 29.6826C 11.3193 30.0207 13.8312 29.452 15.926 28.2026C 13.4997 27.8469 11.6574 25.9673 11.2336 23.6705C 11.5652 23.7825 11.9099 23.8638 12.2678 23.9077C 12.7751 23.9735 13.2735 23.9692 13.7588 23.9011C 11.2841 23.0601 9.65705 20.5657 10.0062 17.8737L 10.015 17.8034C 10.711 18.3172 11.5366 18.6795 12.4435 18.8288C 11.0821 17.6387 10.3224 15.8096 10.5705 13.8817C 10.7022 12.8629 11.0997 11.9429 11.6838 11.1831C 13.9893 14.9028 17.799 17.6475 22.3882 18.4775C 22.3465 18.0603 22.3509 17.6277 22.408 17.193C 22.8054 14.1255 25.6182 11.9582 28.6901 12.3557C 30.2886 12.5621 31.6434 13.425 32.5195 14.6393C 33.8194 14.5536 35.0644 14.244 36.226 13.7478C 35.6441 14.9906 34.6253 15.9655 33.3847 16.5035C 34.5287 16.5167 35.6353 16.3564 36.6915 16.0424C 35.8044 17.0634 34.7285 17.922 33.534 18.5587Z" role="presentation"></path></svg>
        </a>
        </div>
        <div class="row">
          <span>Ngõ 13 Khuất Duy Tiến - Thanh Xuân - Hà Nội</span>
          Liên hệ: Tuấn - 0989 608 194
        </div>
      </div>
    </div>
  </div>
</footer>
