@import "bootstrap-sprockets";
@import "font-awesome";

#toTop {
  background: #b71b52;
  left: 90%;
  bottom: 148px;
  transform: translateX(-50%);
}

#toTop {
  padding: 5px 3px;
  background: #80817e;
  color: #ffffff;
  position: fixed;
  bottom: 176px;
  width: 60px;
  height: 60px;
  right: 126px;
  display: none;
  text-align: center;
  cursor: pointer;
  font-size: 14px - 4;
  font-weight: 500;
  z-index: 9;
  i {
    display: block;
    font-size: 14px + 6;
  }
}
.home {
  .home__block1 {
    .home--square {
      background: image-url("images/full_bg.png") center;
    }
  }
  .home__block2 {
    .home--square {
      background: image-url("images/left_bg.png") center;
    }
  }

  .home__block3 {
    .home--square {
      background: image-url("images/right_bg.png") center;
    }
  }

  .home__featured {
    h2.category-banner {
      border-bottom: 3px solid;
    }
  }
}

.space {
  height: 100px;
}

.pagination {
  margin: 10px auto;
}

.product-list {
  min-height: 900px;
}

#carousel-example-generic {
  ol.carousel-indicators {
    margin-top: 20px;
  }

  .carousel-control-prev, .carousel-control-next {
    text-decoration: none;
  }
}

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 60px; line-height: 1; color: black; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }


