<div class="col-md-3" style="margin-bottom: 10px">
  <div class="product">
    <div class="image-product">
      <%= image_tag fish.image, class: "col-centered" %>
    </div>
    <div class="text-center">
      <a><strong><%= fish.name %></strong></a><br>
      <%= fish.price %><br>
      <%= fish.description %>
    </div>
  </div>
</div>
