<div class="col-6 col-md-4 product-list">
  <a href="/products/daniels-inc-70/" class="link--clean">
    <div class="text-center">
      <div>
        <%= image_tag fish.image, class: "img-responsive" %>
        <span class="product-list-item-name" title="Daniels Inc"><%= fish.name %></span>
      </div><div class="panel-footer">
      <div><span itemprop="price"><span>from</span>$<%= fish.price %></span>
      </div>
    </div>
    </div>
  </a>
</div>
